<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Agregar Administrador</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="myForm" (ngSubmit)="guardar(modal)" novalidate >
          <div class="form-group">
              <label >Nombre(*)</label>
              <input formControlName="nombre" type="text"  name="nombre" class="form-control"  >
            </div>
           
            <div class="form-group">
              <label for="exampleFormControlInput1">Email(*)</label>
              <input formControlName="email" type="email"  
               [(ngModel)]="email" name="email" class="form-control" >
            </div>
            <div class="alert alert-danger"
                  *ngIf="myForm.get('email').hasError('email')">Formato no valido</div>
            <div class="form-group">
              <label  for="exampleFormControlInput1">Contraseña(*)</label>
              <input formControlName="password" type="password" name="pass" class="form-control" >
            </div>
            <div class="form-group">
              <label  for="exampleFormControlInput1">Confirmar Contraseña(*)</label>
              <input formControlName="confirmPassword" type="password"  name="pass" class="form-control" >
            </div>
            <div class="alert alert-danger"
                  *ngIf="myForm.controls.confirmPassword.errors?.MatchPassword">Contraseñas no iguales</div>

            <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary" >Guardar</button>
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
      </form>

  </div>
  <div class="modal-footer">
    
    
  </div>
</ng-template>

<button type="button" class="btn btn-primary" (click)="open(content)">Agregar</button>