<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" href="#"><img src="assets/images/logo.png" width="50" alt="logo"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/" >Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="subcritos" routerLinkActive="active">Subscritos</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link"  routerLink="patologias" routerLinkActive="active">Patologías</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link"  routerLink="usuarios" routerLinkActive="active">Administradores</a>
        </li>
        
      </ul>
      <div class="dropdown pmd-user-info ml-auto">
        <a href="javascript:void(0);" class="btn-user dropdown-toggle media align-items-center" data-toggle="dropdown" data-sidebar="true" aria-expanded="false">
            <img class="mr-2" [src]="_usuarioService.usuario | imagenUsuario" width="40" height="40" alt="avatar">
            <div class="media-body">
                {{_usuarioService.usuario.nombre |titlecase}}
            </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <a class="dropdown-item" routerLink="perfil" href="javascript:void(0);">Perfil</a>
            <a class="dropdown-item" (click)="logout()" href="javascript:void(0);">Cerra Sesión</a>
        </ul>
    </div>
     
    </div>
  </nav>