<div *ngIf="patologia">
  <mat-tab-group>
    <mat-tab label="Información"> 
      <hr>
      <button type="button" class="btn btn-primary" (click)="actualizarInfo()">Actualizar</button>
      <hr>
      <div class="form-group">
        <label >Nombre</label>
        <input type="text" [(ngModel)]="patologia.nombre" class="form-control"  >
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Área</label>
        <input type="text" [(ngModel)]="patologia.area" class="form-control" id="exampleFormControlInput1" >
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">General</label>
        <input type="text" [(ngModel)]="patologia.general" class="form-control" id="exampleFormControlInput1" >
      </div>  
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Descripción</label>
        <!-- <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="patologia.descripcion" rows="5"> {{patologia.descripcion}} </textarea> -->
        <ngx-wig [(ngModel)]="patologia.descripcion" name="descripcion" [content]="text1"></ngx-wig>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Referencias</label>
        <ngx-wig [(ngModel)]="patologia.referencias" name="referencias" [content]="text1"></ngx-wig>
        <!-- <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="patologia.referencias" rows="3"> {{patologia.referencias}} </textarea> -->
      </div>
    </mat-tab>
    <mat-tab label="Fotos/Tags"> 
      <br>
      
      <div class="row col-12">
        <div class="col-12 col-md-6">
          <legend>Fotos</legend>
          <div class="alert alert-danger" role="alert" *ngIf="patologia.fotos.length==0">
            No hay fotos Disponibles
          </div>
          <div class="input-group mb-3">
            <input #fotosInput [disabled]="patologia.fotos.length>=4" type="file" multiple 
            (change)="fileChangeEvent($event)"  class="form-control" name="fotos">
            <div class="input-group-append">
                <button type="button" [disabled]="patologia.fotos.length>=4" class="btn btn-primary" (click)="actualizar()">Subir Fotos</button>
            </div>
          </div>
          <div class="row">
            <div class="card col-3 border" *ngFor="let f of patologia.fotos" >
              <div class="card-body">
                <span class="badge badge-danger" (click)="borrarFoto(f)">
                  <span class="fa fa-trash pointer"></span>
                </span>
                <img [src]="f | imagen" width="120%" >
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <legend>Tags</legend>
          <div class="input-group mb-3">
            <input #tag type="text" class="form-control" name="tags">
            <div class="input-group-append">
                <button type="button" class="btn btn-success" (click)="addTag(tag.value)">Agregar Tag</button>
            </div>
          </div>
          <h3>
            <span *ngFor="let t of patologia.tags" class="badge badge-pill badge-warning"> {{t}} 
              <div class="btn" style="padding: 0;" (click)="removeTag(t)"><span class="fa fa-remove bnt" style="color:red"></span></div>
            </span>
          </h3>
          
        </div>
      </div>
      
        
    </mat-tab>
    <mat-tab label="Audios/Videos"> 

      <ng-template #content let-modalVideo>
          <div class="modal-header">
            <h4 class="modal-title">Agregar Video</h4>
            <button type="button" class="close" aria-label="Close" (click)="modalVideo.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form>
                  <div class="form-group">
                      <label >Titulo</label>
                      <input type="text" [(ngModel)]="titulo_video" name="nombre" class="form-control"  >
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">ID Video</label>
                      <input type="text" [(ngModel)]="id_video" name="area" class="form-control" >
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Descripción</label>
                      <textarea class="form-control" [(ngModel)]="descripcion_video" name="descripcion" rows="5"></textarea>
                    </div>
                </form>
        
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="AgregarVideo(modalVideo)">Guardar</button>
            <button type="button" class="btn btn-light" (click)="modalVideo.close('Close click')">Cerrar</button>
          </div>
        </ng-template>
      <ng-template #contentEditVideo let-modalEditVideo>
          <div class="modal-header">
            <h4 class="modal-title">Editar Video</h4>
            <button type="button" class="close" aria-label="Close" (click)="modalEditVideo.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form>
                  <div class="form-group">
                      <label >Titulo</label>
                      <input type="text" [(ngModel)]="edit_video.titulo" name="nombre" class="form-control"  >
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">ID Video</label>
                      <input type="text" [(ngModel)]="edit_video.video" name="area" class="form-control" >
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Descripción</label>
                      <textarea class="form-control" [(ngModel)]="edit_video.descripcion" name="descripcion" rows="5"></textarea>
                    </div>
                </form>
        
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="editVideo(modalEditVideo)">Guardar</button>
            <button type="button" class="btn btn-light" (click)="modalVideo.close('Close click')">Cerrar</button>
          </div>
        </ng-template>
        
      <div class="row col-12">
        <div class="col-8">
          <legend>Videos</legend>
          <button type="button" class="btn btn-success" (click)="modalService.open(content, { size: 'lg' })">Agregar Video</button>
          <!-- <div class="input-group mb-3">
              <input id="video" #video type="text" class="form-control" name="tags">
              <div class="input-group-append">
              </div>
            </div> -->
          <table class="table table-bordered table-hover tablesaw tablesaw-stack" data-tablesaw-mode="stack" data-tablesaw-sortable-switch >
              <thead>
                <tr>
                  <th data-tablesaw-sortable-col></th>
                  <th data-tablesaw-sortable-col>Titulo</th>
                  <th data-tablesaw-sortable-col>Descripcion</th>
                  <th data-tablesaw-sortable-col>Link</th>  
                  <th data-tablesaw-sortable-col></th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let v of patologia.videos let i=index " >
                    <td> <div class="row col-12">
                      <i (click)="subirVideo(i, 1)" *ngIf="i>0" class="fa fa-angle-up" data-toggle="tooltip" data-placement="top" title="Subir"
                        placement="top" ngbTooltip="Subir" ></i>  {{i+1}}<i (click)="subirVideo(i, -1)" *ngIf="i<patologia.videos.length-1" class="fa fa-angle-down" data-toggle="tooltip" data-placement="top" title="Bajar"
                     placement="top" ngbTooltip="Bajar" ></i> 
                    </div>
                    </td>
                    <td class="title">
                        <b class=" tablesaw-cell-label">Titulo</b>
                        <a href="{{v}}" target="_blank"> {{ v.titulo }}</a>
                      </td>
                      <td class="title">
                          <b class=" tablesaw-cell-label">Descripcion</b>
                          <a href="{{v}}" target="_blank"> {{ v.descripcion | truncar:[50, ' ...'] }}</a>
                        </td>
                    <td class="title">
                      <b class=" tablesaw-cell-label">Link</b>
                      <a [href]="'https://www.youtube.com/watch?v='+v.video" target="_blank"> {{ v.video }}</a>
                    </td>
                    <td class="title">
                      <div aria-label="Acciones" class="btn-group" role="group">
                          <button (click)="deleteVideo(v)" class="btn btn-danger" type="button"><i class="fa fa-trash" data-toggle="tooltip" data-placement="top" title="Eliminar"
                             placement="top" ngbTooltip="Eliminar" ></i></button>
                          <button (click)="editarVideo(v, contentEditVideo)" class="btn btn-warning" type="button"><i class="fa fa-pencil-square-o" data-toggle="tooltip" data-placement="top" title="Editar"
                             placement="top" ngbTooltip="Editar" ></i></button>
                      </div>
                    </td>
                  </tr>
              </tbody>
            </table>
        </div>
        
      </div>
    </mat-tab>
  </mat-tab-group>
</div>


