<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Enviar Subscripción</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Mensaje</label>
          <textarea class="form-control" [(ngModel)]="mensaje" name="descripcion" rows="5"></textarea>
        </div>
      </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="enviar(modal)">Enviar</button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>

<button type="button" class="btn btn-primary" (click)="open(content)">Enviar Subscripción</button>